*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.conteinerr {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 0.5fr 3fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "topp"
      "navegacion"
      "portadas"
      "footerr"; 
}

.topp { 
    grid-area: topp; 
}

.navegacion{
    grid-area: navavegacion;
}

.menu{
    background-color: rgba(255, 196, 0, 0.726);
    padding: 2%;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.menu li a:hover{
    background-color: rgb(219, 143, 44);
    border-radius: 80%;
}

.portadas{
    justify-content: center;
    grid-area: portadas;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.imagengrande{
    height: 450px;
    width: 450px;
    margin: 20px;
}

.imagengrande:hover{
    transform: scale(1.2,1.2);
    transition: all 2s;
}

#logito{
    text-align: center;
    animation: logo 3s ease;
}

@keyframes logo {
    0% {
    opacity: 0;}
    50% {
    opacity: 0.5;}
    100% {
    opacity: 1;}
}

#tit1{
    animation: tituloprincipal 5s ease;
}

@keyframes tituloprincipal {
    0% {
    opacity: 0;}
    50% {
    opacity: 0.5;}
    100% {
    opacity: 1;}

}
#tit2{
    animation: titulosecundario 7s ease;

}
@keyframes titulosecundario {
    0%{
        opacity: 0;
    }
    50% {
    opacity: 0.5}
    100%{
        opacity: 1;
    }
}

.logo{
    width: 150px;
}

.sobrenosotros{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#aboutus{
    width: 55% ;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

#somos {
    width: fit-content;
    background-color: rgba(255, 196, 0, 0.726);
    margin: 10 auto;
    text-align: center;
}

h1 {color: rgb(2, 2, 1);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster', cursive;   
}

h2{ text-align: center ;
    font-size: 2rem;
    font-style: italic;
    color: rgb(139, 108, 22);
    font-family: 'Fira Sans Extra Condensed', sans-serif
}

h3{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    width: 40%;
    color: rgb(133, 102, 19);
    text-decoration: underline;
}

p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.botonarriba {
    width: 80px;
    padding: 5px;
    background-color: beige;
    margin: 5px ;
    border: 25px black;
    font-weight: bold;
    bottom: 50px;
    left: 5px;
}

.botonarriba a{
    text-decoration: none;
    color: rgb(201, 135, 36);
}

.footerr{
    grid-area: footerr;
    background-color: rgba(184, 147, 25, 0.534);
    font-size: 20px;
    font-family: 'Lobster', cursive;
    flex-direction: row; 
}

.foot{
    display: flex;
    justify-content: space-evenly;
}

.direcciontelefono{
    height: 200;
    width: 200;
    text-align: center;
    margin: 10mp;
}

.redes{
    width: 30;
    display:inline-block;
}

.redessociales{
    width: 100;
    height: 100;
    text-align: center;
    left: 900;
}

.redessociales img{
    width: 30
}

#copy{
    text-align: center;
    size: 10px;    
}

#titulo1{
    width: fit-content;
    background-color: rgba(255, 196, 0, 0.726);
    margin: 10 auto;
    text-align: center;
}

.obras{
    margin: 0 auto;
    border: solid black 2px;
    text-align: center;
    align-content: center;
    background-color: rgba(255, 196, 0, 0.726);
}

.serv{
    
    background-color: rgba(255, 196, 0, 0.726);
    margin: 10 auto;
    border: solid black 2px;
    text-align: center;
    align-content: center;
}

.servicios{
    font-size: 1.2rem;
    padding: 1rem;
}

.obra{
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 120px;
}

.imagenchica{
    width: 250px;
    height: 250px;
    padding: 3rem;
}

.imagenchica:hover{
    transform: scale(1.5,1.5);
    transition: all 2s;
}

.titulos{
    margin: 1rem;
    background-color: rgb(219, 143, 44);
    text-align: center;
}

#titulo2{    
    width: fit-content;
    background-color: rgba(255, 196, 0, 0.726);
    margin: 10 auto;
    text-align: center;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    padding: 1rem;
}

#seccion1{
    border: 5px black;
    border-radius: 5%;
}

#contactanos{
    width: fit-content;
    background-color: rgba(255, 196, 0, 0.726);
    margin: 10 auto;
    text-align: center;
}

#contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#formulario{
    background-color: rgb(219, 143, 44); 
    padding: 0.8rem;
    font-family: 'Fira Sans Extra Condensed', sans-serif;    
    margin: 0.5cm;
}

#mapa{
  margin: 0.5cm;
}

.lineas{
    display: block;
    padding: 5px;
    width: 400 ;
    text-align: justify;
}

@media screen and (max-width: 768px){
    .conteinerr{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr; 
        grid-template-areas: 
        "top"
        "nav"
        "portadas"
        "footerr"
    }
    .menu li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .portadas{
        grid-area: portadas;
        text-align: center;
    } 
    .imggrande{
        height: 250px;
        width: 250px;
        margin: 5px;
    }
    #contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #mapa{
        margin-top: 2cm;
    }
    .imggrande:hover{
        transform: scale(2,2);
        transition: all 2s;
    }
}


    
